body {
    margin-bottom: 8rem;
    background-color: rgb(25, 25, 25);
}
.headerBg {
    background-color: rgb(25, 25, 25);
}
.searchBarInput {
    margin: 0;
    padding: 0;
    letter-spacing: 0.12em;
    font-size: 1em;
    border: 0;
    padding-left: 1em;
    background-color: rgb(25, 25, 25);
}
.searchBarInput:focus {
    outline: none;
}
::placeholder {
    color: white;
}
/* Movie Card Comp */
.movieCard-container {
    perspective: 1000px;
    width: 10em;
    height: 18em;
    box-shadow: 2px 2px 2px 3px rgba(180, 180, 180, 0.4);
    transition: 0.2s;
    margin: .5em;
}
.movieCard-container:hover {
    box-shadow: 2px 3px 2px 3px rgba(190, 190, 190, 30.6);
}
/* Movie Cards Flip */
.movieCard:hover {
    transform: rotateY(180deg);
}
.movieCard,
.front,
.back {
    width: 10em;
    height: 14em;
    padding: 0.1em;
}
.movieCard {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    z-index: 3;
    transform: rotateY(180deg);
}
.movieCardFooter {
    margin: 0.2em;
    width: 9em;
}
.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6em;
    font-size: 1em;
}
.text {
    padding: 0.1em;
    max-height: 12em;
    overflow: hidden;
}
/* Movie Buttons */
.MovieButton-info {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* DropDown Comp */

/*Pagination*/
button:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}
