.App {

}
:root{
  --mainFontWhite: #F3F3F3;

  --bodyColor: #C6C6C6;
  --lightGrey: rgba(226, 226, 218, 0.51);
  --mainGrey: #A7A8A6;

  --mainBlue: #557288;
  --lightBlue: #8F9AA3;
  --mainPurlple: #5e223a;
  --lightGreen: #098009;
  --mainGreen: #00270F;
}
.navTable{
  background-color: black;
  display: block;
  color: white;

  margin: 0;
  padding: 1em;
}

.searchBar img{
  display: inline-block;
  margin: 1em .5em;
  padding:.4em;
  position: absolute;
  left: 1.5%;
  width: 28px;
}
#searchBarInput{
  display: inline-block;
  margin: 1em .5em;
  padding: .1em;
  position: relative;
  left: 4%;
  width: 90%;
  border: none;
  font-size: 24px;
}
.container{
  display: flex;
  justify-content: center;
}
#movieCard{
  margin: .4em;
  padding: 1em;
  height: 10em;
  width: 90%;

  border-radius: 5px;
  background-color: var(--lightGrey);
  -webkit-box-shadow: .1em .1em var(--mainGrey);
  -moz-box-shadow:.1em .1em var(--mainGrey);
  box-shadow: .1em .1em var(--mainGrey);
}
#MovieCover{
  border-radius: 5px;
  margin: 1em 2em 1em 1em;
  border: .1em solid var(--bodyColor);
}
.formBtn{
  display: inline;
  margin: .5em;
  width: 8em;
  height: 2.2em;

  background: var(--lightGreen);
  color: white;
  border: none;
  border-radius: 8px;

  box-shadow: .1em .1em #284C7A;
  -webkit-box-shadow: .1em .1em #284C7A;
  -moz-box-shadow: .1em .1em #284C7A;
  -o-box-shadow: .1em .1em #284C7A;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}